NEXT_PUBLIC_SITE_URL="사이트 URL"

NEXT_PUBLIC_GOOGLE_SEARCH_VERIFICATION="구글서치콘솔 content 코드"
NEXT_PUBLIC_NAVER_SEARCH_VERIFICATION="네이버서어드바이저 content 코드"

MAIL_SERVICE="이메일 전송 사이트(gmail)"
SEND_ADDRESS="전송 이메일"
SEND_PASSWORD="전송 이메일 앱 비밀번호"
RECEIVE_ADDRESS="수신 이메일"
