@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-main: #6865e7;
  --color-black: #212122;
  --color-partners: #3d3d3d;
  --color-point2: #5f5ce5;
  --color-line: #ececee;
  --color-gray1: #f7f7f8;
  --color-gray2: #dddddf;
  --color-gray3: #c2c2c7;
  --color-gray4: #a7a7ae;
  --color-gray5: #8d8d96;
  --color-gray6: #73737d;
  --color-gray7: #5b5b62;
  --color-red: #ef3a2f;
  --color-green: #17aa4d;
  --color-blue: #4483f8;
  --color-back: #f0f0f0;
  --color-back3: #e9e9fc;
  --color-back4: #f2f2fd;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animate-fade-out {
  animation: fadeOut 0.3s ease-in-out forwards;
}
